services:
  - type: web
    name: axium
    runtime: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: B2_ENDPOINT
        sync: false
      - key: B2_REGION
        sync: false
      - key: B2_KEY_ID
        sync: false
      - key: B2_APP_KEY
        sync: false
      - key: B2_BUCKET
        sync: false
      - key: CRON_SECRET
        generateValue: true
